/* CSS declarations go here */
.hidden {
	display: none;
}

#restaurantname {
	color: #5cb85c;
}

#settingvar {
	color: #f0ad4e;
}

#credits {
	font-size: 10px;
}

body {
	background-image: url("http://i.imgur.com/Y5BZ9a3.jpg");
	background-repeat: no-repeat;
	background-color: #361502;
}

.white {
	background-color: white;
	margin-top: 3em;
	margin-bottom: 3em;
}

.img-responsive {
	margin: 0 auto;
}

.gray {
	color: #999999;
}
